<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width,initial-scale=1" name="viewport">
<title>ESTEVEZISMS</title>
<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/style.css">

<script>

</script>
</head>
<body ng-app="estevezisms" id="body">


<div class="container">
  <div class="row">
    <div class="col-sm-2">
    	<a href="img/emilio.jpg"><img src="img/emilio.jpg" style="width: 100%;"></a>
    	<a href="img/emilio.jpg"><img src="img/emilio.jpg" style="width: 100%;"></a>
    	<a href="img/emilio.jpg"><img src="img/emilio.jpg" style="width: 100%;"></a>
    	<a href="img/emilio.jpg"><img src="img/emilio.jpg" style="width: 100%;"></a>
    	<a href="img/emilio.jpg"><img src="img/emilio.jpg" style="width: 100%;"></a>
    </div>
    <div class="col-sm-8 main">
    	<div class="content">
      
		      <div ng-controller="estevezController as ctrl" class="ng-cloak text-center">
		        <h3>{{ctrl.currentJoke.setup}}</h3>
		        <div class="punchline">
		        	<h1 ng-show="ctrl.showPunchline" > {{ctrl.currentJoke.punchline}}</h1>
		        </div>
		        
		        <p ng-show="!ctrl.showPunchline"><button ng-click="ctrl.showPunchline = true"  class="btn-danger btn btn-lg show-punchline">
		        	What?
		        </button></p>
		        
		        <p ng-show="ctrl.showPunchline"><button ng-click="ctrl.getJoke()" class="btn-warning btn btn-lg" >ANOTHER!</button></p>

		        
		      </div>
      	</div>
    </div>
    <div class="col-sm-2">
    	<a href="img/emilio.jpg"><img src="img/emilio.jpg" style="width: 100%;"></a>
    	<a href="img/emilio.jpg"><img src="img/emilio.jpg" style="width: 100%;"></a>
    	<a href="img/emilio.jpg"><img src="img/emilio.jpg" style="width: 100%;"></a>
    	<a href="img/emilio.jpg"><img src="img/emilio.jpg" style="width: 100%;"></a>
    	<a href="img/emilio.jpg"><img src="img/emilio.jpg" style="width: 100%;"></a>
    </div>
  </div>
</div>
<footer class="footer"></footer>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
<script src="angular.min.js"></script> 
<script src="bootstrap/js/bootstrap.min.js"></script> 
<script src="app.js"></script> 


</body>
</html>