<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width,initial-scale=1" name="viewport">
<title>Getting started with Angualar</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/style.css">

<script>

</script>
</head>
<body ng-app="estevezisms">


<div class="container">
  <div class="row">
    
    <div class="col-sm-10 col-sm-offset-1">
      
      <div ng-controller="estevezController as ctrl">
        <p class="ng-cloak">{{ctrl.currentJoke.setup}}</p>
        <p ng-show="ctrl.showPunchline" class="ng-cloak"> {{ctrl.currentJoke.punchline}}</p>
        <button ng-click="ctrl.showPunchline = true">What?</button>
        <hr>
        <p><a href="#" ng-click="ctrl.getJoke()">hahaha, another one!</a></p>

        
      </div>

    </div>
  </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
<script src="angular.min.js"></script> 
<script src="bootstrap/js/bootstrap.min.js"></script> 
<script src="app.js"></script> 


</body>
</html>